
.message {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 3px 3px 3px 3px;
}
.message.information {
  color: #059;
  background-color: #BEF;
}
.message.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.message.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.hyp-group {
  margin-bottom: 0.3em;
}

.hyp-group-title, .goal-title {
  font-family: var(--ff-primary);
  font-size: 1.2rem;
}

.goals-section-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.level-completed {
  font-size: 1.8rem;
  font-weight: 500;
}

.command-line {
  background: var(--clr-primary);
  padding: 0.5em;
  font-family: var(--ff-primary);
  border-radius: 0.2em;
  margin: 0.2em 0;
}

.command-line form {
  display: flex;
}

.command-line form>input{
  display: block;
}

.command-line .command-line-input{
  flex: 1;
  padding: 0.2em .6em;
  font-size: 1rem;
}
