body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto Mono;
  color: rgba(0, 32, 90, 0.87);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppBar {
  flex: 0;
}

/* Hide monaco editor notifications */
.monaco-workbench > .notifications-toasts.visible {
  display: none !important;
}
