/* variables */

:root {
  --clr-primary: #1976d2;
  --clr-primary-dark: #104a83;
  --clr-light-gray: #ddd;
  --clr-dark-gray: #aaa;
  --clr-darker-gray: #555;
  --ff-primary: Roboto;
}


/* General styling */

body {
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown code {
  color: rgba(0, 32, 90, 0.87);
  background-color: rgba(223, 227, 234);
  font-size: 85%;
  border-radius: .3em;
  padding-left: .3em;
  padding-right: .3em;
}

.markdown pre code {
  padding: 0;
}

.markdown pre {
  padding-top: .6em;
  padding-bottom: .6em;
  padding-left: .3em;
  overflow: auto;
  line-height: 1.45;
  color: rgba(0, 32, 90, 0.87);
  background-color: rgba(223, 227, 234);
  border-radius: .3em;
}


/* Hide monaco editor notifications */
.monaco-workbench > .notifications-toasts.visible {
  display: none !important;
}

.loading {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.btn {
  line-height: inherit;
  text-decoration: none;
  background: var(--clr-primary);
  color: white;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.2rem .6em;
  font-size: 1rem;
  margin: 0 .2em;
  border: 0;
  cursor: pointer;
}

.btn-inverted {
  color: var(--clr-primary);
  background: white;
}

.btn-inverted:hover {
  color: var(--clr-primary-dark);
}

.btn-disabled, .btn[disabled] {
  color: var(--clr-dark-gray);
  background: var(--clr-light-gray);
}

.btn-inverted.btn-disabled, .btn-inverted.btn[disabled] {
  color: var(--clr-dark-gray);
  background: white;
}

em {
  font-style: italic;
}

/* App Bar */

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-bar {
  flex: 0;
  background: var(--clr-primary);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.1em;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  z-index: 2;
}

.app-bar-title, .app-bar-subtitle {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  display: inline-block;
  margin: 0;
  /* margin: 0 1em; */
}

.app-content {
  height: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
}


.markdown li ul, .markdown li ol {
	margin:0 1.5em;
}

.markdown ul, .markdown ol {
	margin:0 1.5em 1.5em 1.5em;
}

.privacy-policy {
  z-index: 10;
}
