.inventory-panel {
  position: relative;
}

.inventory-panel .documentation {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.documentation .nav-button {
  float: right;
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 1rem;
  min-width: unset;
}

.documentation .nav-button.lock {
  float: left;
  font-size: .7rem;
}

.inventory, .inventory-panel .documentation {
  padding: 0 1em 1em 1em;
}

.inventory h2, .inventory-panel .documentation h2, .inventory-panel .documentation h1 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: .2em;
}

.inventory-panel .documentation h1 {
  font-weight: 900;
}

.inventory-panel .documentation.hidden {
  display: none;
  transition: display 2s;
}

.inventory-list {
  display: flex;
  gap: .5em;
  flex-wrap : wrap;
}

.inventory .item {
  background: #fff;
  border: solid 1px #777;
  padding-left: .5rem;
  padding-right: 1.0rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  position: relative;
}

.inventory .item.locked:not(.enabled) {
  border: solid 1px #ccc;
  color: #ccc;
}

.inventory .item.disabled {
  color: #d92c2c;
}

.inventory .item.new {
  background-color: rgb(255, 242, 190);
}

.inventory .item.recent {
  background-color: rgb(242, 190, 255);
}
.inventory .item, .inventory .item.enabled {
  cursor: pointer;
}

.inventory .item .copy-button {
	min-width: 3px;
	min-height: 3px;
	display: inline-block;
	color: #ccc;
	font-size: 0.6em;
	padding-right: .2rem;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 1rem;
	align-items: end;
	text-align: end;
}
