/* @font-face {
  font-family: 'Roboto Slab';
  src: url('data/font/RobotoSlab.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.landing-page {
  width: 100%;
}

.game-list {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.landing-page-nav {
  position: relative;
}

#menu-btn {
  background-color: unset;
}

@media screen and (max-width: 440px) {
  .game-list {
    grid-template-columns: 100%;

  }
}
.game {
  cursor: pointer;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgb(140, 140, 140);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  font-size: 1rem;

}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

div.image {
  background: rgb(29,0,36);
  background: linear-gradient(137deg, rgba(97,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.game .wrapper > :not(.image), .game .info {
  margin-left: 10px;
  margin-right: 10px;
}

.short-description p, .info p {
  margin-block-start: 0;
  margin-block-end: 0;

}

.short-description {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 6.5rem;
}
.game-stats {
  display: block;
}

.info {
  margin-top: 5px;
  margin-bottom: 15px;
  /* width: calc(100% - 20px); */
  border-collapse: collapse;
}

.info tr {
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
}

.info td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.info td:nth-child(even) {
  text-align: right;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
}

header {
  background-repeat: none;
  background-size: 100% 100%;
  background-position: center;
}

#main-title {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-title h1 {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: calc(1.425rem + 2.1vw);
  text-align: center;
}

#main-title p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  max-width: 600px;
  font-size: 1.25rem;
}

#main-title a {
  color: rgb(255, 255, 255);
  text-decoration: underline dotted;
}

#main-title a:hover {
  color: rgb(218, 218, 218);
}

#main-title i {
  font-style: italic;
}

header nav {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  background-color: rgba(0, 133, 162, .7);
}

footer {
  background-color: rgba(0, 133, 162, 1);
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
  padding: 20px;
}

footer .link {
  color: white;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}

.github-link {
  height: 24px; /* TODO: why do I need that? s*/
  margin-top: auto;
  margin-bottom: auto;
}

.landing-page > section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.25rem;

}

.landing-page > section h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: bolder;
}

.landing-page > section:nth-of-type(odd) {
  background-color: rgb(248, 249, 250)
}

.landing-page > section:nth-of-type(even) {
  background-color: rgb(255, 255, 255)
}

@media screen and (min-width: 1300px) {
  .landing-page > section .wrapper {
    max-width: 1300px;
    margin-left: calc(50% - 650px);
    margin-right: calc(50% - 650px);
  }
}

/* TODO: Adjust to 180px once there are more than two games */
@media screen and (min-width: 1300px) {
  .game-list {
    max-width: 1300px;
    margin-left: calc(50% - 650px);
    margin-right: calc(50% - 650px);
  }
}
