
/* svg .world-circle {
  fill: var(--clr-primary)
} */

.welcome {
  height: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
}

.welcome.mobile .column {
  width: 100%;
}


.welcome .column {
  height: 100%;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.welcome-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

i {
  font-style: italic;
}


/******************/
/* Privacy Button */
/******************/

.privacy {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items:center;
  justify-content:center;
  color: #aaa;
  background-color: #eee;
  cursor: pointer;
}

.privacy p {
  position: absolute;
  color: #888;
  bottom: 1.5px;
  font-size: 6px;
}

.privacy .p1 {
  transform: rotate(50deg);
  left: 1.5px;
}

.privacy .p2 {
  transform: rotate(-50deg);
  right: 1.5px;
}

.preferences-category.tail-category{
  margin-top: 2em;
}

.preferences-item.first{
  margin-top: 1em;
}

.preferences-item.leave-left-gap{
  margin-left: 3em;
}
