.world-selection-menu {
  padding: .5em;
}

.world-selection-menu .btn, .welcome .btn {
  min-width: 5em;
  text-align: center;
  margin-left: .4em;
  margin-right: .4em;
  margin-bottom: .2em;
}

.world-selection-menu .slider-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* min-width: 16em; */
  padding-left: 0.5em;
  padding-right: 3em;
  margin-left: auto;
  margin-right: auto;
}

.difficulty-label {
  font-size: 0.875em;
  padding-top: 4px;
  padding-right: 1em;
}

/* Test for mobile `title`s */
/* @media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
  }
} */

.world-label {
  /* border: 2px solid purple; */
  padding: .2em;
  border-radius: .5em;
}
